body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

.container {
  box-sizing: border-box;
  background-color: #D0D0D0;
  margin: 0 auto;
  padding: 50;
  width: 435px;
}

nav {
  box-sizing: border-box;
  background-color: black;
  margin: 0 auto;
  padding: 15px 0 15px 15px;
  position: fixed;
  width: 435px;
}

h1 {
  font-size: 18px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 0px;
}

.restaurant-list {
  padding-top: 50px;
}

.location {
  box-sizing: border-box;
  margin: auto;
  padding: 5px 12px 5px 12px;
  border-bottom: .5px solid black;
}
.location:hover {
  background-color: gray;
}

.content {
  display: inline-block;
}

.arrow {
display: inline-block;
float: right;
padding-top: 25px;
padding-right: 10px;
}
